@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.App {
  text-align: center;
  background: linear-gradient(20deg, #3f87a6, #f69d3c);
  caret-color: transparent;
  font-family: "Roboto", sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.top {
  color: aliceblue;
  font-weight: 500;
  margin-top: 20px;
  line-height: 50px;
}

.city {
  font-size: 1.7rem;
}

.degree {
  font-size: 4rem;
}

.search {
  margin-top: 15px;
  background-color: #00000065;
  color: white;
  border-radius: 20px;
  padding: 5px 15px;
  border: none;
  caret-color: white;
  font-weight: 500;
  outline: none;
}
.search::placeholder {
  color: white;
  font-weight: 500;
}
.freccia {
  color: white;
  font-size: 5rem;
  text-shadow: 0px 0px 11px #000000;
  margin-bottom: 15px;
  margin-top: 10px;
}
.main {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.box {
  background-color: #7c7c7c65;

  border-radius: 10px;
  color: white;
  padding-bottom: 20px;
}

.boxName {
  background-color: #47c0f88e;
  border-radius: 10px 10px 0 0;
  font-weight: 700;
  padding: 5px;
  margin-bottom: 15px;
  font-size: 2rem;
}
.boxStyle {
  margin: 10px 30px;

  font-weight: 500;
  text-shadow: 0px 0px 11px #000000;
  font-size: 1.3rem;
}
.daysBox {
  width: 50%;
}

.bottom {
  display: flex;
  justify-content: center;
}

.days {
  gap: 1rem;
}

@media screen and (max-width: 900px) {
  .main {
    flex-direction: column;
    align-items: center;
  }
  .box {
    width: 90%;
  }

  html,
  body,
  #root,
  .app,
  .all {
    height: 100%;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
  }
  .App {
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 436px) {
  .days {
    gap: 0.1rem;
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 395px) {
  .days {
    gap: 0rem;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 350px) {
  .days {
    gap: 0rem;
    font-size: 0.7rem;
  }
}
