body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.all {
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 120% 100%;
  animation: slide-background 17s linear infinite;
}
@keyframes slide-background {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: -40px 0;
  }

  100% {
    background-position: 0px 0;
  }
}
